<table border=1>
  <tr>
<th>Name</th>
<th>Rating</th>
<th>Review</th>
<th>Sentiment</th>
<th>Class</th>
  </tr>
  <tr>
    <td>Deepak Mishra</td>
    <td>Superb Product you may go for it</td>
    <td>4.0</td>
    <td>1.0</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>vikkie</td>
    <td>Color is bright and superb..slim fit stretchable cloth but not soft.</td>
    <td>2.0</td>
    <td>0.35</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>AVIS</td>
    <td>Perfect fit and great quality</td>
    <td>5.0</td>
    <td>0.7333333333333334</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Dr. Kalyan Kumar Das</td>
    <td>Worth it!</td>
    <td>5.0</td>
    <td>0.375</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Vinod</td>
    <td>Nice</td>
    <td>4.0</td>
    <td>0.6</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>Good product</td>
    <td>5.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Rashmiranjan M.</td>
    <td>Product thats reach your expectation</td>
    <td>4.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>Good</td>
    <td>5.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Vikram Maindan</td>
    <td>Quality product</td>
    <td>5.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Prime</td>
    <td>Good</td>
    <td>5.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Debendra Nath Mishra</td>
    <td>Length is small</td>
    <td>2.0</td>
    <td>-0.25</td>
    <td>review is negative</td>
  </tr>
  <tr>
    <td>Gagan</td>
    <td>Nice can afforrd</td>
    <td>3.0</td>
    <td>0.6</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Saikat Bag</td>
    <td>Good</td>
    <td>5.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Mahesh Patil</td>
    <td>Very good product</td>
    <td>5.0</td>
    <td>0.9099999999999999</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Argha Ghosh</td>
    <td>Waste of money</td>
    <td>3.0</td>
    <td>-0.2</td>
    <td>review is negative</td>
  </tr>
  <tr>
    <td>Anik</td>
    <td>Pinch</td>
    <td>1.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>ABHILASHA SINGH</td>
    <td>Very comfortable</td>
    <td>5.0</td>
    <td>0.52</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>Good</td>
    <td>4.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Arindam Nandi</td>
    <td>awesome</td>
    <td>5.0</td>
    <td>1.0</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Anand Jaiswal</td>
    <td>Fitting</td>
    <td>4.0</td>
    <td>0.5</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>Nice</td>
    <td>5.0</td>
    <td>0.6</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>not so bad...ok at the mentioned cost</td>
    <td>4.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Dipak Das</td>
    <td>Not fit as expected</td>
    <td>3.0</td>
    <td>-0.15</td>
    <td>review is negative</td>
  </tr>
  <tr>
    <td>Anand  Dayma</td>
    <td>Good Product</td>
    <td>5.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>GUDDU </td>
    <td>Average</td>
    <td>3.0</td>
    <td>-0.15</td>
    <td>review is negative</td>
  </tr>
  <tr>
    <td>Nagendra Devarapu</td>
    <td>Tight fit</td>
    <td>3.0</td>
    <td>0.1107142857142857</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>40%</td>
    <td>1.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>vijay maurya</td>
    <td>Large as size given</td>
    <td>3.0</td>
    <td>0.2142857142857143</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>kakali sarkar</td>
    <td>Very good</td>
    <td>5.0</td>
    <td>0.9099999999999999</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Sajid</td>
    <td>Ok</td>
    <td>3.0</td>
    <td>0.5</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Jk.Roy</td>
    <td>awsome</td>
    <td>5.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Sai subbu</td>
    <td>Good</td>
    <td>4.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Subha Sutradhar</td>
    <td>Nice product.</td>
    <td>5.0</td>
    <td>0.6</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Dinesh</td>
    <td>Value for the money</td>
    <td>4.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Suvendu Dutta</td>
    <td>Good as expected</td>
    <td>4.0</td>
    <td>0.3</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>vansh</td>
    <td>Buy</td>
    <td>4.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Praveen Kumar</td>
    <td>Order a size extra....</td>
    <td>3.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Koppala Mohan</td>
    <td>Ok not bad</td>
    <td>2.0</td>
    <td>0.4249999999999999</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>sumit gupta</td>
    <td>Poor quality</td>
    <td>2.0</td>
    <td>-0.4</td>
    <td>review is negative</td>
  </tr>
  <tr>
    <td>Soumya Ranjan Dash</td>
    <td>Top buy</td>
    <td>5.0</td>
    <td>0.5</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Yogesh Gosavi</td>
    <td>Worth</td>
    <td>4.0</td>
    <td>0.3</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Manud Kumar khatiwada</td>
    <td>Nice</td>
    <td>3.0</td>
    <td>0.6</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Ashish Das</td>
    <td>Love it.</td>
    <td>5.0</td>
    <td>0.5</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Sachin S</td>
    <td>Superb quality</td>
    <td>4.0</td>
    <td>1.0</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Santosh Shimpi</td>
    <td>Go for it</td>
    <td>5.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>Good</td>
    <td>5.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Sanjana Gandhi</td>
    <td>Quality products</td>
    <td>5.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>sourav raghuwanshi</td>
    <td>theek thak</td>
    <td>3.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Karthikeyan</td>
    <td>Product</td>
    <td>5.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>Great product</td>
    <td>4.0</td>
    <td>0.8</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Amazon Customer</td>
    <td>Bad</td>
    <td>1.0</td>
    <td>-0.6999999999999998</td>
    <td>review is negative</td>
  </tr>
  <tr>
    <td>Shivam </td>
    <td>Amazing product</td>
    <td>5.0</td>
    <td>0.6000000000000001</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Yashraj Chaurasia</td>
    <td>Loot lo.....</td>
    <td>5.0</td>
    <td>0.0</td>
    <td>review is neutral</td>
  </tr>
  <tr>
    <td>JAGJIT SINGH</td>
    <td>Good</td>
    <td>5.0</td>
    <td>0.7</td>
    <td>review is positive</td>
  </tr>
  <tr>
    <td>Sonu Sharna</td>
    <td>Nice</td>
    <td>5.0</td>
    <td>0.6</td>
    <td>review is positive</td>
  </tr>
</table>